{{> dashboardheader}}

<body class="page-background" id="dashboard">

	<header>
		<h1>Dashboard</h1>
	</header>

	{{> sidenav}}

	<!--Main Content-->
	<main id="main-area">

		<!--Main Card-->
		<div id="main-card" class="card-panel z-depth-5">

			<!--Stock Ticker-->
			<div class="row">
				<div class="col l12 m12 s12">
					<!--Stock Ticker -->
					<div class="tickercontainer">
						<div class="mask">
							<ul id="webTicker-2">
								<li class="ticker-spacer"></li>
								{{#each ticker}}
									<li class="ticker-color">
										<a href="/stock/{{this.symbol}}">
											{{this.symbol}} ({{#if this.gain}}+ {{/if}}{{this.percentChange}}) &middot;
										</a>
									</li>
								{{/each}}

							</ul>
						</div>
					</div>

					<br>

					<!--Financial Times Ticker-->
					<div class="tickercontainer">
						<div class="mask">
							<ul id="webTicker">
								<li class="ticker-spacer"></li>
								<li><a href="" target="_blank" id="finNews1" class="ticker-color"></a></li>
								<li><a href="" target="_blank" id="finNews2" class="ticker-color"></a></li>
								<li><a href="" target="_blank" id="finNews3" class="ticker-color"></a></li>
								<li><a href="" target="_blank" id="finNews4" class="ticker-color"></a></li>
								<li><a href="" target="_blank" id="finNews5" class="ticker-color"></a></li>
								<li><a href="" target="_blank" id="finNews6" class="ticker-color"></a></li>
								<li><a href="" target="_blank" id="finNews7" class="ticker-color"></a></li>
								<li><a href="" target="_blank" id="finNews8" class="ticker-color"></a></li>
								<li><a href="" target="_blank" id="finNews9" class="ticker-color"></a></li>
								<li><a href="" target="_blank" id="finNews10" class="last ticker-color"> | </a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			{{> accountinfo}}

			<!--Table-->
			<h2 class="center">Investments</h2>
			<section>
				<div class="row">
					<div class="col l12 m12 s12">
						<div class="card-panel z-depth-5">
							<span class="table">
								<table class="centered highlight responsive-table">
									<thead>
										<tr>
											<th>Stock</th>
											<th>Price</th>
											<th>Change</th>
										</tr>
									</thead>
									<tbody>
										{{#each portfolio}}
										<tr class="stock-row" data-symbol="{{this.symbol}}">
											<td>
												<span class="stock-symbol">
													{{this.symbol}}
												</span><br>
												<span class="company-name">{{this.name}}</span>
											</td>
											<td>
												<span class="price">{{this.price}}</span>
											</td>
											<td>
												<span class="big-number {{#if this.gain}}gain{{else}}loss{{/if}}">
													{{#if this.gain}}+ {{/if}}{{this.percentChange}}
												</span><br>
												<span class="small-number {{#if this.gain}}gain{{else}}loss{{/if}}">
													{{#if this.gain}}+ {{/if}}{{this.change}}
												</span>
											</td>
										</tr>
										{{/each}}
									</tbody>
								</table>
							</span>
						</div>
					</div>
				</div>
			</section>

			<!--Pie Chart and Table-->
			<h2 class="center">Diversification</h2>
			<div class="row">
				<div class="col l6 m12 s12">
					<div class="card-panel center-align z-depth-5">

						<span class="chart-graph">
							<div id="pie"></div>
							{{!-- <img id="pie" src="/img/pie-chart.png"> --}}
						</span>
					</div>
				</div>
				<div class="col l6 m12 s12">
					<div class="card-panel z-depth-5">
						<span class="">
							<table class="centered highlight responsive-table sector-table">
								<thead>
									<tr>
										<th>Sector</th>
										<th>$</th>
										<th>%</th>
									</tr>
								</thead>

								<tbody>
								{{#each sectors}}
									<tr class="sector-row" data-sector="{{this.name}}">
										<td>{{this.name}}</td>
										<td>{{this.amount}}</td>
										<td>{{this.percent}} %</td>
									</tr>
								{{/each}}
									<tr class="sector-total">
										<td>Total</td>
										<td>{{accountInfo.investments}}</td>
										<td>100%</td>
									</tr>
								</tbody>
							</table>
						</span>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{> footer}}