{{> dashboardheader}}

<body class="page-background" id="dashboard">

	 <header>
        <h1>Dashboard</h1>
    </header>

	{{> sidenav}}

	<!--Main Content-->
	<main id="main-area">
	
		<!--Main Card-->
		<div id="main-card" class="card-panel z-depth-5">

			<!--Stock Ticker-->
			<div class="row">
				<div class="col l12 m12 s12">
					<!--Stock Ticker -->
					<div class="tickercontainer">
						<div class="mask">
							<ul id="webTicker-2">
								<li class="ticker-spacer"></li>
								{{#each ticker}}<li class="ticker-color">{{this.symbol}}{{this.price}}</li> {{/each}}

								{{#each ticker}}<li id="ticker-color" class="last ticker-color">{{this.symbol}}{{this.price}}</li>{{/each}}
							</ul>
						</div>
					</div>

					<br>

					<!--Financial Times Ticker-->
					<div class="tickercontainer">
						<div class="mask">
							<ul id="webTicker">
								<li class="ticker-spacer"></li>
								<li><a href="" target="_blank" id="finNews1" class="ticker-color"> | </a></li>
								<li><a href="" target="_blank" id="finNews2" class="ticker-color"> | </a></li>
								<li><a href="" target="_blank" id="finNews3" class="ticker-color"> | </a></li>
								<li><a href="" target="_blank" id="finNews4" class="ticker-color"> | </a></li>
								<li><a href="" target="_blank" id="finNews5" class="ticker-color"> | </a></li>
								<li><a href="" target="_blank" id="finNews6" class="ticker-color"> | </a></li>
								<li><a href="" target="_blank" id="finNews7" class="ticker-color"> | </a></li>
								<li><a href="" target="_blank" id="finNews8" class="ticker-color"> | </a></li>
								<li><a href="" target="_blank" id="finNews9" class="ticker-color"> | </a></li>
								<li><a href="" target="_blank" id="finNews10" class="last ticker-color"> | </a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Four Cards at Top -->
			<section class="section section-daily-stats center">
				<div class="row">
					<div class="col l3 m6 s12">
						<div class="card-panel center z-depth-5">
							<h5>Account Balance</h5>
							<div class="divider"></div>
							<h4 class="">$ 23,764.87</h4>
							<div class="">
								<div class="" style="width:60%;"></div>
							</div>
						</div>
					</div>
					<div class="col l3 m6 s12">
						<div class="card-panel center z-depth-5">
							<h5>Cash</h5>
							<div class="divider"></div>
							<h4 class="">$ 15,207.65</h4>
							<div class="">
								<div class="" style="width:35%;"></div>
							</div>
						</div>
					</div>
					<div class="col l3 m6 s12">
						<div class="card-panel center z-depth-5">
							<h5>Investment</h5>
							<div class="divider"></div>
							<h4 class="">$ 54,324.34</h4>
							<div class="">
								<div class="determinate white" style="width:80%;"></div>
							</div>
						</div>
					</div>
					<div class="col l3 m6 s12">
						<div class="card-panel center z-depth-5">							
							<h5>ROI</h5>
							<div class="divider"></div>
							<h4 class="">$ 15,547.87</h4>
							<div class="">
								<div class="" style="width:50%;"></div>
							</div>
						</div>
			</section>

			<!--Table-->
			<section>
				<div class="row">
					<div class="col l12 m12 s12">
						<div class="card-panel z-depth-5">
							<span class="table">
								<table class="centered highlight responsive-table">
									<thead>
										<tr>
											<th>Name</th>
											<th>Share</th>
											<th>Gain/Loss</th>
										</tr>
									</thead>
									<tbody>
										<tr class="stock-row" data-symbol="appl">
											<td><span class="stock-symbol">APPL</span> <br> <span class="company-name">Apple</span></td>
											<td><span class="share">$ 225.48</span> </td>
											<td><span class="big-number">+ 0.20% </span> <br><span class="">+0.04</span></td>
										</tr>
										<tr class="stock-row" data-symbol="goog">
											<td><span class="stock-symbol">GOOG</span> <br> <span class="company-name">Google</span></td>
											<td><span class="share">$ 1203.00</span></td>
											<td><span class="big-number">+ 0.48% </span><br><span class="">+1.21</span></td>
										</tr>
										<tr class="stock-row" data-symbol="nke">
											<td><span class="stock-symbol">NKE</span> <br> <span class="company-name">Nike</span></td>
											<td><span class="share">$ 84.72</span></td>
											<td><span class="big-number">+ 0.21%</span> <br><span class="">+0.07</span></td>
										</tr>
									</tbody>
								</table>
							</span>
						</div>
					</div>
				</div>
			</section>

			<!--Reveal Cards-->
			<section>
				<div class="row">
					{{#each ticker}}<div class="col l3 m6 s12">
						<div class="card sticky-action medium z-depth-5">
							<div class="card-content">
								<span class="card-title activator">{{this.stockName}}, {{this.symbol}}<i class="material-icons right dots">more_vert</i></span>
								<br>All prices in USD<br>
								Buying Price: {{this.price}} <br>
								Selling Price: {{this.sellPrice}} <br>
								Opening Price: {{this.open}} <br>
								52 Week High: {{this.fiftyTwoWeekHigh}} <br>
								52 Week Low: {{this.fiftyTwoWeekLow}}<br>
							</div>
							<div class="card-action">
								<a href="#" class="btn-small green accent-4 buy-button">BUY</a>
								<a href="#" class="btn-small red accent-4 sell-button">SELL</a>
							</div>
							<div class="card-reveal">
								<span class="card-title">Card Title<i class="material-icons right close-x">close</i></span>
								<p>Here is some more information about this product that is only revealed once clicked on.</p>
							</div>
						</div>
					</div>{{/each}}
				</div>
			</section>


			<!--Pie Chart and Table-->
			<div class="row">
				<div class="col l6 m12 s12">
					<div class="card-panel center-align z-depth-5">
						<span class="chart-graph">
							<img id="pie" src="/img/pie-chart.png">
						</span>
					</div>
				</div>
				<div class="col l6 m12 s12">
					<div class="card-panel z-depth-5">
						<span class="">
							<table class="centered highlight responsive-table">
								<thead>
									<tr>
										<th>Sector</th>
										<th>$</th>
										<th>%</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>Technology</td>
										<td>$ 15,350.00</td>
										<td>33%</td>
									</tr>
									<tr>
										<td>Energy</td>
										<td>$ 11,052.00</td>
										<td>24%</td>
									</tr>
									<tr>
										<td>Finance</td>
										<td>$ 8289.00</td>
										<td>18%</td>
									</tr>
									<tr>
										<td>Capital Goods</td>
										<td>$ 6447.00</td>
										<td>14%</td>
									</tr>
									<tr>
										<td>Transportation</td>
										<td>$ 4913.00</td>
										<td>11%</td>
									</tr>
									<tr>
										<td>Total</td>
										<td>$ 46,051.00</td>
										<td>100%</td>
									</tr>
								</tbody>
							</table>
						</span>
					</div>
				</div>
			</div>
		</div>
	</main>