{{> dashboardheader}}

<body class="page-background" id="dashboard">

    <header>
        <h1>Investments</h1>
    </header>

    {{> sidenav}}

    <!--Main Content-->
    <main id="main-area">
        <!--Main Card-->
        <div id="main-card" class="card-panel z-depth-5">

           {{> accountinfo}}

            <!--Table-->
            <section>
                <div class="row">
                    <div class="col l12 m12 s12">
                        <div class="card-panel center z-depth-5">
                            <span class="table">
                                <table class="centered highlight responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Symbol</th>
                                            <th>Name</th>
                                            <th>Shares</th>
                                            <th>Costs</th>
                                            <th>Price</th>
                                            <th>Market Value</th>
                                            <th>Gain/Loss</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	{{#each portfolio}}
										<tr class="stock-row" data-symbol="{{this.symbol}}">
											<td><span class="">{{this.symbol}}</span></td>
											<td><span class="">{{this.name}}</span></td>
											<td>{{this.shares}}</td>
											<td>{{this.costsFormatted}}</td>
											<td><span class="">{{this.price}}</span></td>
											<td>{{this.investmentFormatted}}</td>
											<td class="{{#if this.positive}}gain{{else}}loss{{/if}}">
													{{#if this.positive}}+ {{/if}}{{this.gainLoss}} ({{#if this.positive}}+ {{/if}}{{this.percentGainLoss}})</td>
											<td><a href="/stock/buy/{{this.symbol}}" class="btn-small green accent-4 buy-button">BUY</a>
                                                <a href="/stock/sell/{{this.symbol}}" class="btn-small red accent-4 sell-button">SELL</a>
                                            </td>
										</tr>
										{{/each}}
                                    </tbody>
                                </table>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    {{> footer}}