<h2>Market Cap</h2>

<a href="/stocks/marketcap/nasdaq">NASDAQ</a> <a href="/stocks/marketcap/nyse">NYSE</a> <a href="/stocks/marketcap/amex">AMEX</a>
<br><br>

<h4>{{exchange}}</h4>

<table>

	<tr>
		<th>Stock</th>
		<th>Current Price</th>
		<th>Change</th>
		<th>Market Cap</th>
	</tr>
	
{{#each stocks}}
	<tr>
		<td>{{this.symbol}}</td>
		<td>{{this.price}}</td>
		<td>{{this.percentChange}}</td>
		<td>{{this.marketCap}}</td>
	</tr>
{{/each}}

</table>

<br>

<a href="/dashboard">Back</a>