{{> dashboardheader}}

<body class="page-background" id="dashboard">

	<header>
		<h1>Top Movers</h1>
		<h2>{{exchange}}</h2>
	</header>

	{{> sidenav}}

	<!--Main Content-->
	<main id="main-area">
		<!--Main Card-->
		<div id="main-card" class="card-panel z-depth-5">
			<!--Tabs-->
			<div class="row">
				<div class="col l12 m12 s12">
					<div class="card-panel center z-depth-5">
						<div class="row center-align">
							<div class="col s12">
								<ul class="tabs transparent">
									<li class="tab col s4"><a class="white-text"  href="#test1">NYSE</a></li>
									<li class="tab col s4"><a class="white-text"  href="#test2">NASDAQ</a></li>
									<li class="tab col s4"><a class="white-text"  href="#test3">AMEX</a></li>
								</ul>
							</div>

							<!--NYSE TABLES-->
							<div id="test1" class="col s12">
								<h3>NYSE Top Gainers</h3>
								<section>
									<div class="row">
										<div class="col l12 m12 s12">
											<div class="card-panel center z-depth-5">
												<span class="table">
													<table class="centered highlight responsive-table">
														<thead>
															<tr>
																<th>Stock</th>
																<th>Current Price</th>
																<th>Change</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>{{topGainers.one.symbol}}</td>
																<td>{{topGainers.one.price}}</td>
																<td>{{topGainers.one.percentChange}}</td>
															</tr>
															<tr>
																<td>{{topGainers.two.symbol}}</td>
																<td>{{topGainers.two.price}}</td>
																<td>{{topGainers.two.percentChange}}</td>
															</tr>
															<tr>
																<td>{{topGainers.three.symbol}}</td>
																<td>{{topGainers.three.price}}</td>
																<td>{{topGainers.three.percentChange}}</td>
															</tr>
															<tr>
																<td>{{topGainers.four.symbol}}</td>
																<td>{{topGainers.four.price}}</td>
																<td>{{topGainers.four.percentChange}}</td>
															</tr>
															<tr>
																<td>{{topGainers.five.symbol}}</td>
																<td>{{topGainers.five.price}}</td>
																<td>{{topGainers.five.percentChange}}</td>
															</tr>
														</tbody>
													</table>
												</span>
											</div>
										</div>
									</div>
								</section>

								<h3>NYSE Top Losers</h3>
								<div class="card-panel center z-depth-5">
									<span class="table">
										<table class="centered highlight responsive-table">
											<thead>
												<tr>
													<th>Stock</th>
													<th>Current Price</th>
													<th>Change</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{topLosers.one.symbol}}</td>
													<td>{{topLosers.one.price}}</td>
													<td>{{topLosers.one.percentChange}}</td>
												</tr>
												<tr>
													<td>{{topLosers.two.symbol}}</td>
													<td>{{topLosers.two.price}}</td>
													<td>{{topLosers.two.percentChange}}</td>
												</tr>
												<tr>
													<td>{{topLosers.three.symbol}}</td>
													<td>{{topLosers.three.price}}</td>
													<td>{{topLosers.three.percentChange}}</td>
												</tr>
												<tr>
													<td>{{topLosers.four.symbol}}</td>
													<td>{{topLosers.four.price}}</td>
													<td>{{topLosers.four.percentChange}}</td>
												</tr>
												<tr>
													<td>{{topLosers.five.symbol}}</td>
													<td>{{topLosers.five.price}}</td>
													<td>{{topLosers.five.percentChange}}</td>
												</tr>
											</tbody>
										</table>
									</span>
								</div>
							</div>

							<!--NASDAQ TABLE-->
							<div id="test2" class="col s12">
								<div class="table">
									<h3>NASDAQ Top Gainers</h3>
									<div class="card-panel center z-depth-5">
										<span class="table">
											<table class="centered highlight responsive-table">
												<thead>
													<tr>
														<th>Stock</th>
														<th>Current Price</th>
														<th>Change</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{topGainers.one.symbol}}</td>
														<td>{{topGainers.one.price}}</td>
														<td>{{topGainers.one.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topGainers.two.symbol}}</td>
														<td>{{topGainers.two.price}}</td>
														<td>{{topGainers.two.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topGainers.three.symbol}}</td>
														<td>{{topGainers.three.price}}</td>
														<td>{{topGainers.three.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topGainers.four.symbol}}</td>
														<td>{{topGainers.four.price}}</td>
														<td>{{topGainers.four.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topGainers.five.symbol}}</td>
														<td>{{topGainers.five.price}}</td>
														<td>{{topGainers.five.percentChange}}</td>
													</tr>
												</tbody>
											</table>
										</span>
									</div>

									<h3>NASDAQ Top Losers</h3>
									<div class="card-panel center z-depth-5">
										<span class="table">
											<table class="centered highlight responsive-table">
												<thead>
													<tr>
														<th>Stock</th>
														<th>Current Price</th>
														<th>Change</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{topLosers.one.symbol}}</td>
														<td>{{topLosers.one.price}}</td>
														<td>{{topLosers.one.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topLosers.two.symbol}}</td>
														<td>{{topLosers.two.price}}</td>
														<td>{{topLosers.two.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topLosers.three.symbol}}</td>
														<td>{{topLosers.three.price}}</td>
														<td>{{topLosers.three.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topLosers.four.symbol}}</td>
														<td>{{topLosers.four.price}}</td>
														<td>{{topLosers.four.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topLosers.five.symbol}}</td>
														<td>{{topLosers.five.price}}</td>
														<td>{{topLosers.five.percentChange}}</td>
													</tr>
												</tbody>
											</table>
										</span>
									</div>
								</div>
							</div>

							<!--AMEX TABLE-->
							<div id="test3" class="col s12"><span class="table">
									<h3>AMEX Top Gainers</h3>
									<div class="card-panel center z-depth-5">
										<span class="table">
											<table class="centered highlight responsive-table">
												<thead>
													<tr>
														<th>Stock</th>
														<th>Current Price</th>
														<th>Change</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{topGainers.one.symbol}}</td>
														<td>{{topGainers.one.price}}</td>
														<td>{{topGainers.one.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topGainers.two.symbol}}</td>
														<td>{{topGainers.two.price}}</td>
														<td>{{topGainers.two.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topGainers.three.symbol}}</td>
														<td>{{topGainers.three.price}}</td>
														<td>{{topGainers.three.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topGainers.four.symbol}}</td>
														<td>{{topGainers.four.price}}</td>
														<td>{{topGainers.four.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topGainers.five.symbol}}</td>
														<td>{{topGainers.five.price}}</td>
														<td>{{topGainers.five.percentChange}}</td>
													</tr>
												</tbody>
											</table>
										</span>
									</div>

									<h3>AMEX Top Losers</h3>
									<div class="card-panel center z-depth-5">
										<span class="table">
											<table class="centered highlight responsive-table">
												<thead>
													<tr>
														<th>Stock</th>
														<th>Current Price</th>
														<th>Change</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{topLosers.one.symbol}}</td>
														<td>{{topLosers.one.price}}</td>
														<td>{{topLosers.one.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topLosers.two.symbol}}</td>
														<td>{{topLosers.two.price}}</td>
														<td>{{topLosers.two.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topLosers.three.symbol}}</td>
														<td>{{topLosers.three.price}}</td>
														<td>{{topLosers.three.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topLosers.four.symbol}}</td>
														<td>{{topLosers.four.price}}</td>
														<td>{{topLosers.four.percentChange}}</td>
													</tr>
													<tr>
														<td>{{topLosers.five.symbol}}</td>
														<td>{{topLosers.five.price}}</td>
														<td>{{topLosers.five.percentChange}}</td>
													</tr>
												</tbody>
											</table>
										</span>
									</div>
							</div>
						</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{> footer}}


	<!--=========================================================Cody's Code=================================================================================-->

	{{!-- <h2>{{exchange}}</h2>

	<a href="/stocks/movers/nasdaq">NASDAQ</a> <a href="/stocks/movers/nyse">NYSE</a> <a href="/stocks/movers/amex">AMEX</a>
	<br><br>

	<h4>Top Gainers</h4>

	<table>

		<tr>
			<th>Stock</th>
			<th>Current Price</th>
			<th>Change</th>
		</tr>

		<tr>
			<td>{{topGainers.one.symbol}}</td>
			<td>{{topGainers.one.price}}</td>
			<td>{{topGainers.one.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topGainers.two.symbol}}</td>
			<td>{{topGainers.two.price}}</td>
			<td>{{topGainers.two.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topGainers.three.symbol}}</td>
			<td>{{topGainers.three.price}}</td>
			<td>{{topGainers.three.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topGainers.four.symbol}}</td>
			<td>{{topGainers.four.price}}</td>
			<td>{{topGainers.four.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topGainers.five.symbol}}</td>
			<td>{{topGainers.five.price}}</td>
			<td>{{topGainers.five.percentChange}}</td>
		</tr>

	</table>

	<br>
	<hr><br>

	<h4>Top Losers</h4>

	<table>

		<tr>
			<th>Stock</th>
			<th>Current Price</th>
			<th>Change</th>
		</tr>

		<tr>
			<td>{{topLosers.one.symbol}}</td>
			<td>{{topLosers.one.price}}</td>
			<td>{{topLosers.one.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topLosers.two.symbol}}</td>
			<td>{{topLosers.two.price}}</td>
			<td>{{topLosers.two.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topLosers.three.symbol}}</td>
			<td>{{topLosers.three.price}}</td>
			<td>{{topLosers.three.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topLosers.four.symbol}}</td>
			<td>{{topLosers.four.price}}</td>
			<td>{{topLosers.four.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topLosers.five.symbol}}</td>
			<td>{{topLosers.five.price}}</td>
			<td>{{topLosers.five.percentChange}}</td>
		</tr>

	</table>

	<a href="/dashboard">Back</a> --}}