{{>dashboardheader}}

<body class="page-background" id="dashboard">

	<header>
		<h1>Top Movers</h1>
		<h2>{{exchange}}</h2>
	</header>
	<!--Fixed Side Navigation -->
	<ul id="slide-out" class="sidenav sidenav-fixed">
		<li>
			<div class="user-view">
				<div class="background"></div>
				<a href="#user"><img class="circle" src="/img/headshot_placeholder.png"></a>

				<span class="white-text name user-info">{{user.username}}</span>
				<span class="white-text email user-info">{{user.email}}</span>
				<div class="card-small">
					<span class="white-text account user-info">$ 23,764.87</span>
				</div>


			</div>
		</li>

		<!--Log Out Button-->
		<li id="logout-link">
			<a href="/logout" class="white-text logout-link">Logout</a>
		</li>

		<!--Search Box in Fixed Side Navigation-->
		<nav>
			<div class="nav-wrapper">
				<form>
					<div class="input-field">
						<input id="search" type="search" placeholder="stock symbol" required>
						<label class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</div>
		</nav>

		<!--Page Links-->
		<ul>
			<ul class="collapsible collapsible-accordion">
				<!--Portfolio Accordian Link-->
				<li>
					<a class="collapsible-header white-text waves-effect waves-green accent-4">PORTFOLIO</a>
					<div class="collapsible-body">
						<ul>
							<li> <a class="white-text waves-effect waves-green accent-4" href="investments.html">Investments</a></li>
							<li> <a class="white-text waves-effect waves-green accent-4" href="watchlist.html">Watchlist</a></li>
							<li> <a class="white-text waves-effect waves-green accent-4" href="transactions.html">Transactions</a></li>
						</ul>
					</div>
				</li>

				<!--Portfolio Accordian Link-->
				<li>
					<a class="collapsible-header white-text waves-effect waves-green accent-4">STOCKS</a>
					<div class="collapsible-body">
						<ul>
							<li> <a class="white-text waves-effect waves-green accent-4" href="topmovers.html">Top
									Movers</a></li>
							<li> <a class="white-text waves-effect waves-green accent-4" href="volume.html">Volume</a></li>
							<li> <a class="white-text waves-effect waves-green accent-4" href="marketcap.html">Market
									Cap</a></li>
							<li> <a class="white-text waves-effect waves-green accent-4" href="sector.html">Sector/Industry</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</ul>
	</ul>
	<ul class="right hide-on-med-and-down">
		<!--Portfolio-->
		<li><a class="dropdown-trigger waves-effect waves-green accent-4" href="#!" data-target="dropdown1">PORTFOLIO<i class="material-icons right">arrow_drop_down</i></a></li>
		<ul id='dropdown1' class='dropdown-content'>
			<li> <a href="investments.html">Investments</a></li>
			<li> <a href="watchlist.html">Watchlist</a></li>
			<li> <a href="transactions.html">Transactions</a></li>
		</ul>
		<!--Stocks-->
		<li><a class="dropdown-trigger waves-effect waves-green accent-4" href="#!" data-target="dropdown1">STOCKS<i class="material-icons right">arrow_drop_down</i></a></li>
		<ul id='dropdown1' class='dropdown-content'>
			<li> <a href="topmovers.html">Top Movers</a></li>
			<li> <a href="volume.html">Volume</a></li>
			<li> <a href="marketcap.html">Market Cap</a></li>
			<li> <a href="sector.html">Sector/Industry</a></li>
		</ul>
	</ul>

	<a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i id="hamburger-menu" class="material-icons">menu</i></a>

	<!--Main Content-->
	<main id="main-area">

		<!--Main Card-->
		<div id="main-card" class="card-panel z-depth-5">
			<div class="row center-align">
				<div class="col s12">
					<ul class="tabs">
						<li class="tab col s4"><a target="_self" href="/stocks/movers/nyse">NYSE</a></li>
						<li class="tab col s4"><a target="_self" href="/stocks/movers/nasdaq">NASDAQ</a></li>
						<li class="tab col s4"><a target="_self" href="/stocks/movers/amex">AMEX</a></li>
					</ul>
				</div>
				<!--NYSE TABLES-->
				<div id="/stocks/movers/nyse" class="col s12"><span class="table">
						<h3>Top Gainers</h3>
						<table class="centered highlight responsive-table">
							<thead>
								<tr>
									<th>Stock</th>
									<th>Current Price</th>
									<th>Change</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{topGainers.one.symbol}}</td>
									<td>{{topGainers.one.price}}</td>
									<td>{{topGainers.one.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.two.symbol}}</td>
									<td>{{topGainers.two.price}}</td>
									<td>{{topGainers.two.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.three.symbol}}</td>
									<td>{{topGainers.three.price}}</td>
									<td>{{topGainers.three.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.four.symbol}}</td>
									<td>{{topGainers.four.price}}</td>
									<td>{{topGainers.four.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.five.symbol}}</td>
									<td>{{topGainers.five.price}}</td>
									<td>{{topGainers.five.percentChange}}</td>
								</tr>
							</tbody>
						</table>
					</span>
					<br>
					<hr>
					<br>
					<h3>Top Losers</h3>
					<span class="table">
						<table class="centered highlight responsive-table">
							<thead>
								<tr>
									<th>Stock</th>
									<th>Current Price</th>
									<th>Change</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{topLosers.one.symbol}}</td>
									<td>{{topLosers.one.price}}</td>
									<td>{{topLosers.one.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.two.symbol}}</td>
									<td>{{topLosers.two.price}}</td>
									<td>{{topLosers.two.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.three.symbol}}</td>
									<td>{{topLosers.three.price}}</td>
									<td>{{topLosers.three.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.four.symbol}}</td>
									<td>{{topLosers.four.price}}</td>
									<td>{{topLosers.four.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.five.symbol}}</td>
									<td>{{topLosers.five.price}}</td>
									<td>{{topLosers.five.percentChange}}</td>
								</tr>
							</tbody>
						</table>
					</span>
				</div>
				<!--NASDAQ TABLE-->
				<div id="/stocks/movers/nasdaq" class="col s12"><span class="table">
						<h3>Top Gainers</h3>
						<table class="centered highlight responsive-table">
							<thead>
								<tr>
									<th>Stock</th>
									<th>Current Price</th>
									<th>Change</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{topGainers.one.symbol}}</td>
									<td>{{topGainers.one.price}}</td>
									<td>{{topGainers.one.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.two.symbol}}</td>
									<td>{{topGainers.two.price}}</td>
									<td>{{topGainers.two.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.three.symbol}}</td>
									<td>{{topGainers.three.price}}</td>
									<td>{{topGainers.three.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.four.symbol}}</td>
									<td>{{topGainers.four.price}}</td>
									<td>{{topGainers.four.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.five.symbol}}</td>
									<td>{{topGainers.five.price}}</td>
									<td>{{topGainers.five.percentChange}}</td>
								</tr>
							</tbody>
						</table>
					</span>
					<br>
					<hr>
					<br>
					<h3>Top Losers</h3>
					<span class="table">
						<table class="centered highlight responsive-table">
							<thead>
								<tr>
									<th>Stock</th>
									<th>Current Price</th>
									<th>Change</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{topLosers.one.symbol}}</td>
									<td>{{topLosers.one.price}}</td>
									<td>{{topLosers.one.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.two.symbol}}</td>
									<td>{{topLosers.two.price}}</td>
									<td>{{topLosers.two.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.three.symbol}}</td>
									<td>{{topLosers.three.price}}</td>
									<td>{{topLosers.three.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.four.symbol}}</td>
									<td>{{topLosers.four.price}}</td>
									<td>{{topLosers.four.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.five.symbol}}</td>
									<td>{{topLosers.five.price}}</td>
									<td>{{topLosers.five.percentChange}}</td>
								</tr>
							</tbody>
						</table>
					</span>
				</div>
				<div id="/stocks/movers/amex" class="col s12"><span class="table">
						<h3>Top Gainers</h3>
						<table class="centered highlight responsive-table">
							<thead>
								<tr>
									<th>Stock</th>
									<th>Current Price</th>
									<th>Change</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{topGainers.one.symbol}}</td>
									<td>{{topGainers.one.price}}</td>
									<td>{{topGainers.one.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.two.symbol}}</td>
									<td>{{topGainers.two.price}}</td>
									<td>{{topGainers.two.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.three.symbol}}</td>
									<td>{{topGainers.three.price}}</td>
									<td>{{topGainers.three.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.four.symbol}}</td>
									<td>{{topGainers.four.price}}</td>
									<td>{{topGainers.four.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topGainers.five.symbol}}</td>
									<td>{{topGainers.five.price}}</td>
									<td>{{topGainers.five.percentChange}}</td>
								</tr>
							</tbody>
						</table>
					</span>
					<br>
					<hr>
					<br>
					<h3>Top Losers</h3>
					<span class="table">
						<table class="centered highlight responsive-table">
							<thead>
								<tr>
									<th>Stock</th>
									<th>Current Price</th>
									<th>Change</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{topLosers.one.symbol}}</td>
									<td>{{topLosers.one.price}}</td>
									<td>{{topLosers.one.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.two.symbol}}</td>
									<td>{{topLosers.two.price}}</td>
									<td>{{topLosers.two.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.three.symbol}}</td>
									<td>{{topLosers.three.price}}</td>
									<td>{{topLosers.three.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.four.symbol}}</td>
									<td>{{topLosers.four.price}}</td>
									<td>{{topLosers.four.percentChange}}</td>
								</tr>
								<tr>
									<td>{{topLosers.five.symbol}}</td>
									<td>{{topLosers.five.price}}</td>
									<td>{{topLosers.five.percentChange}}</td>
								</tr>
							</tbody>
						</table>
					</span>
				</div>

			</div>
	</main>

	{{> footer}}


	<!--=========================================================Cody's Code=================================================================================-->

	{{!-- <h2>{{exchange}}</h2>

	<a href="/stocks/movers/nasdaq">NASDAQ</a> <a href="/stocks/movers/nyse">NYSE</a> <a href="/stocks/movers/amex">AMEX</a>
	<br><br>

	<h4>Top Gainers</h4>

	<table>

		<tr>
			<th>Stock</th>
			<th>Current Price</th>
			<th>Change</th>
		</tr>

		<tr>
			<td>{{topGainers.one.symbol}}</td>
			<td>{{topGainers.one.price}}</td>
			<td>{{topGainers.one.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topGainers.two.symbol}}</td>
			<td>{{topGainers.two.price}}</td>
			<td>{{topGainers.two.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topGainers.three.symbol}}</td>
			<td>{{topGainers.three.price}}</td>
			<td>{{topGainers.three.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topGainers.four.symbol}}</td>
			<td>{{topGainers.four.price}}</td>
			<td>{{topGainers.four.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topGainers.five.symbol}}</td>
			<td>{{topGainers.five.price}}</td>
			<td>{{topGainers.five.percentChange}}</td>
		</tr>

	</table>

	<br>
	<hr><br>

	<h4>Top Losers</h4>

	<table>

		<tr>
			<th>Stock</th>
			<th>Current Price</th>
			<th>Change</th>
		</tr>

		<tr>
			<td>{{topLosers.one.symbol}}</td>
			<td>{{topLosers.one.price}}</td>
			<td>{{topLosers.one.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topLosers.two.symbol}}</td>
			<td>{{topLosers.two.price}}</td>
			<td>{{topLosers.two.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topLosers.three.symbol}}</td>
			<td>{{topLosers.three.price}}</td>
			<td>{{topLosers.three.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topLosers.four.symbol}}</td>
			<td>{{topLosers.four.price}}</td>
			<td>{{topLosers.four.percentChange}}</td>
		</tr>
		<tr>
			<td>{{topLosers.five.symbol}}</td>
			<td>{{topLosers.five.price}}</td>
			<td>{{topLosers.five.percentChange}}</td>
		</tr>

	</table>

	<a href="/dashboard">Back</a> --}}