{{> dashboardheader}}

<body class="page-background" id="dashboard">

	<header>
		<h1>Top Movers &middot; <span>{{exchange}}</span></h1>
	</header>

	{{> sidenav}}

	<!--Main Content-->
	<main id="main-area">
		<!--Main Card-->
		<div id="main-card" class="card-panel z-depth-5">
			<!--Tabs-->
			<div class="row">
				<div class="col l12 m12 s12">
					<div class="card-panel center z-depth-5">
						<div class="row center-align">
							<div class="col s12">
								<ul class="tabs transparent">
									<li class="tab col s4"><a class="white-text {{#if nyse}}active{{/if}}" target="_self" href="/stocks/movers/nyse">NYSE</a></li>
									<li class="tab col s4"><a class="white-text {{#if nasdaq}}active{{/if}}" target="_self" href="/stocks/movers/nasdaq">NASDAQ</a></li>
									<li class="tab col s4"><a class="white-text {{#if amex}}active{{/if}}" target="_self" href="/stocks/movers/amex">AMEX</a></li>
								</ul>
							</div>

							<!--TABLES-->
							<div id="test1" class="col s12">
								<h3>Top Gainers</h3>
								<section>
									<div class="row">
										<div class="col l12 m12 s12">
											<div class="card-panel center z-depth-5">
												<span class="table">
													<table class="centered highlight responsive-table">
														<thead>
															<tr>
																<th>Stock</th>
																<th>Current Price</th>
																<th>Change</th>
															</tr>
														</thead>
														<tbody>

															<tr class="stock-row" data-symbol="{{topGainers.one.symbol}}">
																<td>
																	<span class="stock-symbol">{{topGainers.one.symbol}}</span><br>
																	<span class="company-name">{{topGainers.one.name}}</span>
																</td>
																<td>
																	<span class="share">{{topGainers.one.price}}</span>
																</td>
																<td>
																	<span class="big-number {{#if topGainers.one.gain}}gain{{else}}loss{{/if}}">
																		{{#if topGainers.one.gain}}+ {{/if}}{{topGainers.one.percentChange}}
																	</span><br>
																	<span class="small-number {{#if topGainers.one.gain}}gain{{else}}loss{{/if}}">
																		{{#if topGainers.one.gain}}+ {{/if}}{{topGainers.one.change}}
																	</span>
																</td>
															</tr>

															<tr class="stock-row" data-symbol="{{topGainers.two.symbol}}">
																<td>
																	<span class="stock-symbol">{{topGainers.two.symbol}}</span><br>
																	<span class="company-name">{{topGainers.two.name}}</span>
																</td>
																<td>
																	<span class="share">{{topGainers.two.price}}</span>
																</td>
																<td>
																	<span class="big-number {{#if topGainers.two.gain}}gain{{else}}loss{{/if}}">
																		{{#if topGainers.two.gain}}+ {{/if}}{{topGainers.two.percentChange}}
																	</span><br>
																	<span class="small-number {{#if topGainers.two.gain}}gain{{else}}loss{{/if}}">
																		{{#if topGainers.two.gain}}+ {{/if}}{{topGainers.two.change}}
																	</span>
																</td>
															</tr>

															<tr class="stock-row" data-symbol="{{topGainers.three.symbol}}">
																<td>
																	<span class="stock-symbol">{{topGainers.three.symbol}}</span><br>
																	<span class="company-name">{{topGainers.three.name}}</span>
																</td>
																<td>
																	<span class="share">{{topGainers.three.price}}</span>
																</td>
																<td>
																	<span class="big-number {{#if topGainers.three.gain}}gain{{else}}loss{{/if}}">
																		{{#if topGainers.three.gain}}+ {{/if}}{{topGainers.three.percentChange}}
																	</span><br>
																	<span class="small-number {{#if topGainers.three.gain}}gain{{else}}loss{{/if}}">
																		{{#if topGainers.three.gain}}+ {{/if}}{{topGainers.three.change}}
																	</span>
																</td>
															</tr>

															<tr class="stock-row" data-symbol="{{topGainers.four.symbol}}">
																<td>
																	<span class="stock-symbol">{{topGainers.four.symbol}}</span><br>
																	<span class="company-name">{{topGainers.four.name}}</span>
																</td>
																<td>
																	<span class="share">{{topGainers.four.price}}</span>
																</td>
																<td>
																	<span class="big-number {{#if topGainers.four.gain}}gain{{else}}loss{{/if}}">
																		{{#if topGainers.four.gain}}+ {{/if}}{{topGainers.four.percentChange}}
																	</span><br>
																	<span class="small-number {{#if topGainers.four.gain}}gain{{else}}loss{{/if}}">
																		{{#if topGainers.four.gain}}+ {{/if}}{{topGainers.four.change}}
																	</span>
																</td>
															</tr>

															<tr class="stock-row" data-symbol="{{topGainers.five.symbol}}">
																<td>
																	<span class="stock-symbol">{{topGainers.five.symbol}}</span><br>
																	<span class="company-name">{{topGainers.five.name}}</span>
																</td>
																<td>
																	<span class="share">{{topGainers.five.price}}</span>
																</td>
																<td>
																	<span class="big-number {{#if topGainers.five.gain}}gain{{else}}loss{{/if}}">
																		{{#if topGainers.five.gain}}+ {{/if}}{{topGainers.five.percentChange}}
																	</span><br>
																	<span class="small-number {{#if topGainers.five.gain}}gain{{else}}loss{{/if}}">
																		{{#if topGainers.five.gain}}+ {{/if}}{{topGainers.five.change}}
																	</span>
																</td>
															</tr>
														</tbody>
													</table>
												</span>
											</div>
										</div>
									</div>
								</section>

								<h3>Top Losers</h3>
								<div class="card-panel center z-depth-5">
									<span class="table">
										<table class="centered highlight responsive-table">
											<thead>
												<tr>
													<th>Stock</th>
													<th>Current Price</th>
													<th>Change</th>
												</tr>
											</thead>
											<tbody>
												<tr class="stock-row" data-symbol="{{topLosers.one.symbol}}">
													<td>
														<span class="stock-symbol">{{topLosers.one.symbol}}</span><br>
														<span class="company-name">{{topLosers.one.name}}</span>
													</td>
													<td>
														<span class="share">{{topLosers.one.price}}</span>
													</td>
													<td>
														<span class="big-number {{#if topLosers.one.gain}}gain{{else}}loss{{/if}}">
															{{#if topLosers.one.gain}}+ {{/if}}{{topLosers.one.percentChange}}
														</span><br>
														<span class="small-number {{#if topLosers.one.gain}}gain{{else}}loss{{/if}}">
															{{#if topLosers.one.gain}}+ {{/if}}{{topLosers.one.change}}
														</span>
													</td>
												</tr>

												<tr class="stock-row" data-symbol="{{topLosers.two.symbol}}">
													<td>
														<span class="stock-symbol">{{topLosers.two.symbol}}</span><br>
														<span class="company-name">{{topLosers.two.name}}</span>
													</td>
													<td>
														<span class="share">{{topLosers.two.price}}</span>
													</td>
													<td>
														<span class="big-number {{#if topLosers.two.gain}}gain{{else}}loss{{/if}}">
															{{#if topLosers.two.gain}}+ {{/if}}{{topLosers.two.percentChange}}
														</span><br>
														<span class="small-number {{#if topLosers.two.gain}}gain{{else}}loss{{/if}}">
															{{#if topLosers.two.gain}}+ {{/if}}{{topLosers.two.change}}
														</span>
													</td>
												</tr>

												<tr class="stock-row" data-symbol="{{topLosers.three.symbol}}">
													<td>
														<span class="stock-symbol">{{topLosers.three.symbol}}</span><br>
														<span class="company-name">{{topLosers.three.name}}</span>
													</td>
													<td>
														<span class="share">{{topLosers.three.price}}</span>
													</td>
													<td>
														<span class="big-number {{#if topLosers.three.gain}}gain{{else}}loss{{/if}}">
															{{#if topLosers.three.gain}}+ {{/if}}{{topLosers.three.percentChange}}
														</span><br>
														<span class="small-number {{#if topLosers.three.gain}}gain{{else}}loss{{/if}}">
															{{#if topLosers.three.gain}}+ {{/if}}{{topLosers.three.change}}
														</span>
													</td>
												</tr>

												<tr class="stock-row" data-symbol="{{topLosers.four.symbol}}">
													<td>
														<span class="stock-symbol">{{topLosers.four.symbol}}</span><br>
														<span class="company-name">{{topLosers.four.name}}</span>
													</td>
													<td>
														<span class="share">{{topLosers.four.price}}</span>
													</td>
													<td>
														<span class="big-number {{#if topLosers.four.gain}}gain{{else}}loss{{/if}}">
															{{#if topLosers.four.gain}}+ {{/if}}{{topLosers.four.percentChange}}
														</span><br>
														<span class="small-number {{#if topLosers.four.gain}}gain{{else}}loss{{/if}}">
															{{#if topLosers.four.gain}}+ {{/if}}{{topLosers.four.change}}
														</span>
													</td>
												</tr>

												<tr class="stock-row" data-symbol="{{topLosers.five.symbol}}">
													<td>
														<span class="stock-symbol">{{topLosers.five.symbol}}</span><br>
														<span class="company-name">{{topLosers.five.name}}</span>
													</td>
													<td>
														<span class="share">{{topLosers.five.price}}</span>
													</td>
													<td>
														<span class="big-number {{#if topLosers.five.gain}}gain{{else}}loss{{/if}}">
															{{#if topLosers.five.gain}}+ {{/if}}{{topLosers.five.percentChange}}
														</span><br>
														<span class="small-number {{#if topLosers.five.gain}}gain{{else}}loss{{/if}}">
															{{#if topLosers.five.gain}}+ {{/if}}{{topLosers.five.change}}
														</span>
													</td>
												</tr>
											</tbody>
										</table>
									</span>
								</div>
							</div>
						</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{> footer}}