<h2>{{exchange}}</h2>

<a href="/stocks/movers/nasdaq">NASDAQ</a> <a href="/stocks/movers/nyse">NYSE</a> <a href="/stocks/movers/amex">AMEX</a>
<br><br>

<h4>Top Gainers</h4>

<table>

	<tr>
		<th>Stock</th>
		<th>Current Price</th>
		<th>Change</th>
	</tr>
	
	<tr>
		<td>{{topGainers.one.symbol}}</td>
		<td>{{topGainers.one.price}}</td>
		<td>{{topGainers.one.percentChange}}</td>
	</tr>
	<tr>
		<td>{{topGainers.two.symbol}}</td>
		<td>{{topGainers.two.price}}</td>
		<td>{{topGainers.two.percentChange}}</td>
	</tr>
	<tr>
		<td>{{topGainers.three.symbol}}</td>
		<td>{{topGainers.three.price}}</td>
		<td>{{topGainers.three.percentChange}}</td>
	</tr>
	<tr>
		<td>{{topGainers.four.symbol}}</td>
		<td>{{topGainers.four.price}}</td>
		<td>{{topGainers.four.percentChange}}</td>
	</tr>
	<tr>
		<td>{{topGainers.five.symbol}}</td>
		<td>{{topGainers.five.price}}</td>
		<td>{{topGainers.five.percentChange}}</td>
	</tr>
	
</table>

<br><hr><br>

<h4>Top Losers</h4>

<table>

	<tr>
		<th>Stock</th>
		<th>Current Price</th>
		<th>Change</th>
	</tr>
	
	<tr>
		<td>{{topLosers.one.symbol}}</td>
		<td>{{topLosers.one.price}}</td>
		<td>{{topLosers.one.percentChange}}</td>
	</tr>
	<tr>
		<td>{{topLosers.two.symbol}}</td>
		<td>{{topLosers.two.price}}</td>
		<td>{{topLosers.two.percentChange}}</td>
	</tr>
	<tr>
		<td>{{topLosers.three.symbol}}</td>
		<td>{{topLosers.three.price}}</td>
		<td>{{topLosers.three.percentChange}}</td>
	</tr>
	<tr>
		<td>{{topLosers.four.symbol}}</td>
		<td>{{topLosers.four.price}}</td>
		<td>{{topLosers.four.percentChange}}</td>
	</tr>
	<tr>
		<td>{{topLosers.five.symbol}}</td>
		<td>{{topLosers.five.price}}</td>
		<td>{{topLosers.five.percentChange}}</td>
	</tr>
	
</table>

<a href="/dashboard">Back</a>