{{> header}}

<body class="page-background" id="index">

	<nav class="no-shadows">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">TG</a>
		</div>
	</nav>

	<main>
		<div class="container">
			<div class="row center-align">
				<div class="col s12 m12">
					<h1>Trading
						<i class="large material-icons">account_balance</i>
						Grounds</h1>
				</div>
			</div>

			<!--Registration Form-->
			<div class="container">
				<div id="login-form" class="row">
					<form id="register" class="col s12 m12 l12" name="register" method="post" action="/register">
						<div class="row">
							<div class="card-panel">
								<div class="input field col s6">
									<input class="validate white-text" type="text" id="username" name="username" placeholder="Username" value="{{user.username}}" autofocus>
								</div>
								<div class="input field col s6">
									<input class="validate white-text" type="email" id="email" name="email" placeholder="Email" value="{{user.email}}">
								</div>
								<div class="input field col s6">
									<input class="validate white-text" type="password" id="password" name="password" placeholder="Password" value="{{user.password}}">
								</div>
								<div class="input field col s6">
									<input class="validate white-text" type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password"
									 value="{{user.confirm_password}}">
								</div>
								<div class="input field col s6">
									<input class="validate white-text" type="text" id="first_name" name="first_name" placeholder="First Name"
									 value="{{user.first_name}}">
								</div>
								<div class="input field col s6">
									<input class="validate white-text" type="text" id="last_name" name="last_name" placeholder="Last Name" value="{{user.last_name}}">
								</div>
								<div class="row center-align">
									<div class="col s12 m12 l12">
										{{#if errors}}
										<ul class="errors">
											{{#each errors}}
											<li class="wrong-register">{{this}}</li>
											{{/each}}
										</ul>
										{{/if}}
									</div>
								</div>
								<div class="row center-align">
									<div class="col s12 m12 l12">
										<button class="btn waves-effect waves-light" type="submit" id="submit" value="Register" name="action">Register
											<i class="material-icons right">send</i>
										</button>
										<ul>
											<li>Already have an account? <a href="/login">Log in!</a></li>
											<li>Forgot Password? <a href="/reset">Reset it!</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>

	{{> footer}}