{{> dashboardheader}}

<body class="page-background" id="dashboard"></body>

<header>
	<h1>Sectors</h1>
	<h2 class="capitalize">{{sector}}</h2>
</header>

{{> sidenav}}

<!--Main Content-->
<main id="main-area">
	<!--Main Card-->
	<div id="main-card" class="card-panel z-depth-5">
		<!--Tabs-->
		<div class="row">
			<div class="col l12 m12 s12">
				<div class="card-panel center z-depth-5">
					<div class="row center-align">
						<div class="col s12">
							<ul class="tabs transparent">
								<li class="tab col s1"><a class="white-text" href="#test1">Basic Industries</a></li>
								<li class="tab col s1"><a class="white-text" href="#test2">Capital Goods</a></li>
								<li class="tab col s1"><a class="white-text" href="#test3">Consumer Durables</a></li>
								<li class="tab col s1"><a class="white-text" href="#test4">Consumer Non-Durables</a></li>
								<li class="tab col s1"><a class="white-text" href="#test5">Consumer Services</a></li>
								<li class="tab col s1"><a class="white-text" href="#test6">Energy</a></li>
								<li class="tab col s1"><a class="white-text" href="#test7">Finance</a>
								<li class="tab col s1"><a class="white-text" href="#test8">Health Care</a></li>
								<li class="tab col s1"><a class="white-text" href="#test9">Miscellaneous</a></li>
								<li class="tab col s1"><a class="white-text" href="#test10">Public Utilities</a></li>
								<li class="tab col s1"><a class="white-text" href="#test11">Technology</a></li>
								<li class="tab col s1"><a class="white-text" href="#test12">Transportation</a></li>
							</ul>
						</div>
						<div id="test1" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div id="test2" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div id="test3" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div id="test4" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div id="test5" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div id="test6" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div id="test7" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div id="test8" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div id="test9" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div id="test10" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div id="test11" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div id="test12" class="col s12">
							<!--Table-->
							<section>
								<div class="row">
									<div class="col l12 m12 s12">
										<div class="card-panel center z-depth-5">
											<span class="table">
												<table class="centered highlight responsive-table">
													<thead>
														<tr>
															<th>Stock</th>
															<th>Current Price</th>
															<th>Change</th>
														</tr>
													</thead>
													<tbody>
														{{#each stocks}}
														<tr>
															<td>{{this.symbol}}</td>
															<td>{{this.price}}</td>
															<td>{{this.percentChange}}</td>
														</tr>
														{{/each}}
													</tbody>
												</table>
											</span>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{{> footer}}


<!--Cody's Code-->
{{!-- <h2 class="capitalize">{{sector}}</h2>

<a href="/stocks/sector/basic%20industries">Basic Industries</a>
<a href="/stocks/sector/capital%20goods">Capital Goods</a>
<a href="/stocks/sector/consumer%20durables">Consumer Durables</a>
<a href="/stocks/sector/consumer%20non-durables">Consumer Non-Durables</a>
<a href="/stocks/sector/consumer%20services">Consumer Services</a>
<a href="/stocks/sector/energy">Energy</a>
<a href="/stocks/sector/finance">Finance</a>
<a href="/stocks/sector/health%20care">Health Care</a>
<a href="/stocks/sector/miscellaneous">Miscellaneous</a>
<a href="/stocks/sector/public%20utilities">Public Utilities</a>
<a href="/stocks/sector/technology">Technology</a>
<a href="/stocks/sector/transportation">Transportation</a>

<br><br>


<table>

	<tr>
		<th>Stock</th>
		<th>Current Price</th>
		<th>Change</th>
	</tr>

	{{#each stocks}}
	<tr>
		<td>{{this.symbol}}</td>
		<td>{{this.price}}</td>
		<td>{{this.percentChange}}</td>
	</tr>
	{{/each}}

</table>

<br>

<a href="/dashboard">Back</a> --}}