{{> dashboardheader}}

<body class="page-background" id="dashboard"></body>

<header>
	<h1>Sectors</h1>
</header>

{{> sidenav}}

<!--Main Content-->
<main id="main-area">
	<!--Main Card-->
	<div id="main-card" class="card-panel z-depth-5">
		<!--Tabs-->
		<div class="row">
			<div class="col l12 m12 s12">
				<div class="card-panel center z-depth-5">
					<div class="row center-align">
						<div class="col s12">
							<ul class="tabs transparent">
								<li class="tab col s1"><a class="white-text" href="#test1">Basic Industries</a></li>
								<li class="tab col s1"><a class="white-text" href="#test2">Capital Goods</a></li>
								<li class="tab col s1"><a class="white-text" href="#test3">Consumer Durables</a></li>
								<li class="tab col s1"><a class="white-text" href="#test4">Consumer Non-Durables</a></li>
								<li class="tab col s1"><a class="white-text" href="#test5">Consumer Services</a></li>
								<li class="tab col s1"><a class="white-text" href="#test6">Energy</a></li>
								<li class="tab col s1"><a class="white-text" href="#test7">Finance</a>
								<li class="tab col s1"><a class="white-text" href="#test8">Health Care</a></li>
								<li class="tab col s1"><a class="white-text" href="#test9">Miscellaneous</a></li>
								<li class="tab col s1"><a class="white-text" href="#test10">Public Utilities</a></li>
								<li class="tab col s1"><a class="white-text" href="#test11">Technology</a></li>
								<li class="tab col s1"><a class="white-text" href="#test12">Transportation</a></li>
							</ul>
						</div>

						<!--Table-->
						<h3>{{sector}}</h3>
						<section>
							<div class="row">
								<div class="col l12 m12 s12">
									<div class="card-panel center z-depth-5">
										<span class="table">
											<table class="centered highlight responsive-table">
												<thead>
													<tr>
														<th>Stock</th>
														<th>Current Price</th>
														<th>Change</th>
													</tr>
												</thead>
												<tbody>
													{{#each stocks}}
													<tr class="stock-row" data-symbol="{{symbol}}">
														<td>
															<span class="stock-symbol">{{this.symbol}}</span><br>
															<span class="company-name">{{this.name}}</span>
														</td>
														<td><span class="share">{{this.price}}</span></td>
														<td>
															<span class="big-number {{#if gain}}gain{{else}}loss{{/if}}">
																{{#if gain}}+ {{/if}}{{this.percentChange}}
															</span><br>
															<span class="small-number {{#if gain}}gain{{else}}loss{{/if}}">
																{{#if gain}}+ {{/if}}{{this.change}}
															</span>
														</td>
													</tr>
													{{/each}}
												</tbody>
											</table>
										</span>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>


	</div>
</main>

{{> footer}}