	{{> dashboardheader}}

<body class="page-background" id="dashboard">

	<header>
<!--		<h1>Stock &middot; <span>{{symbol}}</span></h1>	-->
		<h3>{{name}}</h3>
	</header>

	{{> sidenav}}

	<!--Main Content-->
	<main id="main-area">
		<!--Main Card-->
		<div id="main-card" class="card z-depth-5">
			<div class="container">
				<div class="row center-align">
					<div class="col s12 m12 l12">

						<div class="card sticky-action">
							<div class="card-content">
								<h1>{{symbol}}</h1>
								<h5>{{name}}</h5>
								<h2>{{price}}</h2>
								<h4 class="{{#if gain}}gain{{else}}loss{{/if}}">{{change}} ({{percentChange}})</h4>
								<span class="card-title activator"><i class="material-icons right">more_vert</i></span>
							</div>
							<div class="card-action">
								<a href="/stock/buy/{{symbol}}" class="btn-small green accent-4 buy-button">BUY</a>
								<a href="/stock/sell{{symbol}}" class="btn-small red accent-4 sell-button">SELL</a>
							</div>
							<div class="card-reveal">

								<span class="card-title grey-text text-darken-4">
									<h3>{{name}}</h3><i class="material-icons right">close</i>
								</span>
								<div class="card-tabs">
									<ul class="tabs tabs-fixed-width">
										<li class="tab"><a href="#test4">Historical</a></li>
										<li class="tab"><a href="#test5">Details</a></li>
										<li class="tab"><a href="#test6">Company</a></li>
									</ul>
								</div>
								<div class="card-content grey lighten-4">
									<div id="test4">
										<ul>
											<li><span>1w</span></li>
											<li><span>1m</span></li>
											<li><span>6m</span></li>
											<li><span>YTD</span></li>
											<li><span>1y</span></li>
											<li><span>5y</span></li>
										</ul>
										Historical Data/Graph Display Here
									</div>
									<div id="test5">
										<ul>
											<li>Previous Close: {{close}}</li>
											<li>Open: {{open}}</li>
											<li>High: {{high}}</li>
											<li>Low: {{low}}</li>
											<li>Volume: {{volume}}</li>
											<li>Market Cap: {{marketCap}}</li>
											<li>52 Week High: {{fiftyTwoHigh}}</li>
											<li>52 Week Low: {{fiftyTwoLow}}</li>
										</ul>
										<hr>
										<ul>
											<li>Div/Yield: {{div}} / {{yield}}</li>
											<li>Beta: {{beta}}</li>
											<li>EPS: {{eps}}</li>
											<li>P/E: {{pe}}</li>
										</ul>
									</div>
									<div id="test6">
										<ul>
											<li>Name: {{name}}</li>
											<li>Symbol: {{symbol}}</li>
											<li>Sector: {{sector}}</li>
											<li>Industry: {{industry}}</li>
											<li>Location: {{state}}, {{country}}</li>
											<li>Employees: {{employees}}</li>
											<li>Phone: {{phone}}</li>
											<li>Website: <a href="{{website}}" target="_blank">{{website}}</a></li>
										</ul>
										<hr>
										<div>{{summary}}</div>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</main>

	{{> footer}}

	<!--===================================================Cody Code=================================================================-->

	{{!-- <h3>{{symbol}}</h3>
	<h6>{{name}}</h6>
	<h2>{{price}}</h2>
	<h4>{{#if gain}}+ {{else}}- {{/if}}{{change}} ({{#if gain}}+ {{else}}- {{/if}}{{percentChange}})</h4>
	<ul>
		<span class="card-link" id="hist-link">Historical</span>
		<span class="card-link selected-link" id="det-link">Details</span>
		<span class="card-link" id="comp-link">Company</span>
	</ul>

	<div class="js-hidden" id="historical">
		<ul>
			<li><span>1w</span></li>
			<li><span>1m</span></li>
			<li><span>6m</span></li>
			<li><span>YTD</span></li>
			<li><span>1y</span></li>
			<li><span>5y</span></li>
		</ul>
		Historical Data/Graph Display Here
	</div>

	<div id="details">
		<ul>
			<li>Previous Close: {{close}}</li>
			<li>Open: {{open}}</li>
			<li>High: {{high}}</li>
			<li>Low: {{low}}</li>
			<li>Volume: {{volume}}</li>
			<li>Market Cap: {{marketCap}}</li>
			<li>52 Week High: {{fiftyTwoHigh}}</li>
			<li>52 Week Low: {{fiftyTwoLow}}</li>
		</ul>
		<hr>
		<ul>
			<li>Div/Yield: {{div}} / {{yield}}</li>
			<li>Beta: {{beta}}</li>
			<li>EPS: {{eps}}</li>
			<li>P/E: {{pe}}</li>
		</ul>
		<!--
	<hr>
	Bid: {{bid}}<br>Ask: {{ask}}
-->
	</div>

	<div class="js-hidden" id="company">
		<ul>
			<li>Name: {{name}}</li>
			<li>Symbol: {{symbol}}</li>
			<li>Sector: {{sector}}</li>
			<li>Industry: {{industry}}</li>
			<li>Location: {{state}}, {{country}}</li>
			<li>Employees: {{employees}}</li>
			<li>Phone: {{phone}}</li>
			<li>Website: <a href="{{website}}" target="_blank">{{website}}</a></li>
		</ul>
		<hr>
		<div>{{summary}}</div>
	</div>

	<a href="/dashboard">Back</a>



	$('.card-link').click(function() {

	});

	$('#hist-link').click(function() {
	$('#det-link').removeClass('selected-link');
	$('#comp-link').removeClass('selected-link');
	$('#hist-link').addClass('selected-link');
	$('#historical').removeClass('js-hidden');
	$('#details').addClass('js-hidden');
	$('#company').addClass('js-hidden');
	});

	$('#det-link').click(function() {
	$('#det-link').addClass('selected-link');
	$('#comp-link').removeClass('selected-link');
	$('#hist-link').removeClass('selected-link');
	$('#historical').addClass('js-hidden');
	$('#details').removeClass('js-hidden');
	$('#company').addClass('js-hidden');
	});

	$('#comp-link').click(function() {
	$('#det-link').removeClass('selected-link');
	$('#comp-link').addClass('selected-link');
	$('#hist-link').removeClass('selected-link');
	$('#historical').addClass('js-hidden');
	$('#details').addClass('js-hidden');
	$('#company').removeClass('js-hidden');
	}); --}}