{{> dashboardheader}}

<body class="page-background" id="dashboard">

	<header>
		<!--		<h1>Stock &middot; <span>{{symbol}}</span></h1>	-->
		<h3>{{name}}</h3>
	</header>

	{{> sidenav}}

	<!--Main Content-->
	<main id="main-area">
		<!--Main Card-->
		<div id="main-card" class="card z-depth-5">
			<div class="container">
				<div class="row center-align">
					<div class="col s12 m12 l12">

						<div id="stock" class="card sticky-action">
							<div class="card-content center-align">
								<span class="card-title activator"><i id="vert-dots" class="medium material-icons right">more_vert</i></span>								
									<h1 id="card-symbol">{{symbol}}</h1>
									<h5>{{name}}</h5>
									<h2>{{price}}</h2>
									<h4 class="{{#if gain}}gain{{else}}loss{{/if}}">{{change}} ({{percentChange}})</h4>								
							</div>
							<div class="card-action">
								<a href="/stock/buy/{{symbol}}" class="btn-large green accent-4 buy-button">BUY</a>
								<a href="/stock/sell/{{symbol}}" class="btn-large red accent-4 sell-button">SELL</a>
							</div>
							<div class="card-reveal black">

								<span class="card-title">
									<h3>{{name}}</h3>
									<i id="close-x" class="medium material-icons right">close</i>
								</span>
								<div class="card-tabs transparent">
									<ul class="tabs tabs-fixed-width transparent">
										<li class="tab"><a class="white-text" href="#test4">Historical</a></li>
										<li class="tab"><a class="active white-text" href="#test5">Details</a></li>
										<li class="tab"><a class="white-text" href="#test6">Company</a></li>
									</ul>
								</div>
								<div class="card-content">
									<div id="test4">
										<div id="historical-background" class="row">
											<div class="col s12">
												<ul id="plotly-display">
													<li id="submitWeek"><span class="time">1 week</span> &middot; </li>
													<li id="submitMonth"><span class="time">1 month</span> &middot; </li>
													<li id="submitSix"><span class="time">6 months</span> &middot; </li>
													<li id="submitYear"><span class="time">1 year</span> &middot; </li>
													<li id="submitFive"><span class="time">5 years</span></li>
												</ul>
											</div>
											<div class="col s12" id="tester" style="width:600px;height:250px;">
											</div>
										</div>
									</div>
									<div id="test5">
										<div id="details-background" class="row">
											<div class="col s3 left-align">
												<ul>
													<li><span class="descriptor">Close:</span> {{close}}</li>
													<li><span class="descriptor">Open:</span> {{open}}</li>
													<li><span class="descriptor">High:</span> {{high}}</li>
													<li><span class="descriptor">Low:</span> {{low}}</li>
												</ul>
											</div>
											<div class="col s4 left-align">
												<ul>
													<li><span class="descriptor">Volume:</span> {{volume}}</li>
													<li><span class="descriptor">Market Cap:</span> {{marketCap}}</li>
													<li><span class="descriptor">52 Week High:</span> {{fiftyTwoHigh}}</li>
													<li><span class="descriptor">52 Week Low:</span> {{fiftyTwoLow}}</li>
												</ul>
											</div>
											<div class="col s5 left-align">
												<ul>
													<li><span class="descriptor">Div/Yield:</span> {{div}} / {{yield}}</li>
													<li><span class="descriptor">Beta:</span> {{beta}}</li>
													<li><span class="descriptor">EPS:</span> {{eps}}</li>
													<li><span class="descriptor">P/E:</span> {{pe}}</li>
												</ul>
											</div>
										</div>
									</div>
									<div id="test6">
										<div id="company-background" class="row">
											<div class="col s6">
												<ul>
													<li><span class="descriptor">Name:</span> {{name}} </li>
													<li><span class="descriptor">Symbol:</span> {{symbol}} </li>
													<li><span class="descriptor">Sector:</span> {{sector}} </li>
													<li><span class="descriptor">Industry:</span> {{industry}} </li>
												</ul>
											</div>
											<div class="col s6">
												<ul>
													<li><span class="descriptor">Location:</span> {{state}}, {{country}} </li>
													<li><span class="descriptor">Employees:</span> {{employees}} </li>
													<li><span class="descriptor">Phone: </span> {{phone}} </li>
													<li><span class="descriptor">Website:</span> <a href="{{website}}" target="_blank">{{website}}</a> </li>
												</ul>
											</div>
										</div>
										<div class="row">
											<hr>
										</div>
										<h5>Summary</h5>
										<div class="row">
											<div class="col s12">
												<div>{{summary}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{> footer}}