{{> dashboardheader}}

<body class="page-background" id="dashboard">

    <header>
        <h1>Volume</h1>

    </header>

    {{> sidenav}}

    <!--Main Content-->
    <main id="main-area">
        <!--Main Card-->
        <div id="main-card" class="card-panel z-depth-5">
            <!--Tabs-->
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="card-panel center z-depth-5">
                        <div class="row center-align">
                            <div class="col s12">
                                <ul class="tabs transparent">
                                    <li class="tab col s4"><a class="white-text"  href="#tes1">NYSE</a></li>
                                    <li class="tab col s4"><a class="white-text"  href="#test2">NASDAQ</a></li>
                                    <li class="tab col s4"><a class="white-text"  href="#test3">AMEX</a></li>
                                </ul>
                            </div>

                            <!--NYSE TABLES-->
                            <div id="tes1" class="col s12"><span class="table">
                                    <h3>Top Gainers</h3>
                                    <section>
                                        <div class="row">
                                            <div class="col l12 m12 s12">
                                                <div class="card-panel center z-depth-5">
                                                    <span class="table">
                                                        <table class="centered highlight responsive-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Stock</th>
                                                                    <th>Current Price</th>
                                                                    <th>Change</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>{{topGainers.one.symbol}}</td>
                                                                    <td>{{topGainers.one.price}}</td>
                                                                    <td>{{topGainers.one.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.two.symbol}}</td>
                                                                    <td>{{topGainers.two.price}}</td>
                                                                    <td>{{topGainers.two.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.three.symbol}}</td>
                                                                    <td>{{topGainers.three.price}}</td>
                                                                    <td>{{topGainers.three.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.four.symbol}}</td>
                                                                    <td>{{topGainers.four.price}}</td>
                                                                    <td>{{topGainers.four.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.five.symbol}}</td>
                                                                    <td>{{topGainers.five.price}}</td>
                                                                    <td>{{topGainers.five.percentChange}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <!--NASDAQ TABLE-->
                                        <div id="test2" class="col s12">
                                            <div class="table">
                                                <h3>Top Gainers</h3>
                                                <div class="card-panel center z-depth-5">
                                                    <span class="table">
                                                        <table class="centered highlight responsive-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Stock</th>
                                                                    <th>Current Price</th>
                                                                    <th>Change</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>{{topGainers.one.symbol}}</td>
                                                                    <td>{{topGainers.one.price}}</td>
                                                                    <td>{{topGainers.one.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.two.symbol}}</td>
                                                                    <td>{{topGainers.two.price}}</td>
                                                                    <td>{{topGainers.two.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.three.symbol}}</td>
                                                                    <td>{{topGainers.three.price}}</td>
                                                                    <td>{{topGainers.three.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.four.symbol}}</td>
                                                                    <td>{{topGainers.four.price}}</td>
                                                                    <td>{{topGainers.four.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.five.symbol}}</td>
                                                                    <td>{{topGainers.five.price}}</td>
                                                                    <td>{{topGainers.five.percentChange}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <!--AMEX TABLE-->
                                        <div id="test3" class="col s12"><span class="table">
                                                <h3>Top Gainers</h3>
                                                <div class="card-panel center z-depth-5">
                                                    <span class="table">
                                                        <table class="centered highlight responsive-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Stock</th>
                                                                    <th>Current Price</th>
                                                                    <th>Change</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>{{topGainers.one.symbol}}</td>
                                                                    <td>{{topGainers.one.price}}</td>
                                                                    <td>{{topGainers.one.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.two.symbol}}</td>
                                                                    <td>{{topGainers.two.price}}</td>
                                                                    <td>{{topGainers.two.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.three.symbol}}</td>
                                                                    <td>{{topGainers.three.price}}</td>
                                                                    <td>{{topGainers.three.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.four.symbol}}</td>
                                                                    <td>{{topGainers.four.price}}</td>
                                                                    <td>{{topGainers.four.percentChange}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{topGainers.five.symbol}}</td>
                                                                    <td>{{topGainers.five.price}}</td>
                                                                    <td>{{topGainers.five.percentChange}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </span>
                                                </div>
                                        </div>
                            </div>

                        </div>
                    </div>
                    </section>
                </div>
    </main>

    {{> footer}}