<h2>Volume</h2>

<a href="/stocks/marketcap/nasdaq">NASDAQ</a> <a href="/stocks/marketcap/nyse">NYSE</a> <a href="/stocks/marketcap/amex">AMEX</a>
<br><br>

<h4>{{exchange}}</h4>

<table>

	<tr>
		<th>Stock</th>
		<th>Current Price</th>
		<th>Change</th>
		<th>Volume</th>
	</tr>
	
	<tr>
		<td>{{volume.one.symbol}}</td>
		<td>{{volume.one.price}}</td>
		<td>{{volume.one.percentChange}}</td>
		<td>{{volume.one.volume}}</td>
	</tr>
	<tr>
		<td>{{volume.two.symbol}}</td>
		<td>{{volume.two.price}}</td>
		<td>{{volume.two.percentChange}}</td>
		<td>{{volume.two.volume}}</td>
	</tr>
	<tr>
		<td>{{volume.three.symbol}}</td>
		<td>{{volume.three.price}}</td>
		<td>{{volume.three.percentChange}}</td>
		<td>{{volume.three.volume}}</td>
	</tr>
	<tr>
		<td>{{volume.four.symbol}}</td>
		<td>{{volume.four.price}}</td>
		<td>{{volume.four.percentChange}}</td>
		<td>{{volume.four.volume}}</td>
	</tr>
	<tr>
		<td>{{volume.five.symbol}}</td>
		<td>{{volume.five.price}}</td>
		<td>{{volume.five.percentChange}}</td>
		<td>{{volume.five.volume}}</td>
	</tr>
	<tr>
		<td>{{volume.six.symbol}}</td>
		<td>{{volume.six.price}}</td>
		<td>{{volume.six.percentChange}}</td>
		<td>{{volume.six.volume}}</td>
	</tr>
	<tr>
		<td>{{volume.seven.symbol}}</td>
		<td>{{volume.seven.price}}</td>
		<td>{{volume.seven.percentChange}}</td>
		<td>{{volume.seven.volume}}</td>
	</tr>
	<tr>
		<td>{{volume.eight.symbol}}</td>
		<td>{{volume.eight.price}}</td>
		<td>{{volume.eight.percentChange}}</td>
		<td>{{volume.eight.volume}}</td>
	</tr>
	<tr>
		<td>{{volume.nine.symbol}}</td>
		<td>{{volume.nine.price}}</td>
		<td>{{volume.nine.percentChange}}</td>
		<td>{{volume.nine.volume}}</td>
	</tr>
	<tr>
		<td>{{volume.ten.symbol}}</td>
		<td>{{volume.ten.price}}</td>
		<td>{{volume.ten.percentChange}}</td>
		<td>{{volume.ten.volume}}</td>
	</tr>
	
</table>

<br>

<a href="/dashboard">Back</a>