{{> dashboardheader}}

<body class="page-background" id="dashboard">

    <header>
        <h1>Watchlist</h1>
    </header>

    {{> sidenav}}

    <!--Main Content-->
    <main id="main-area">
        <!--Main Card-->
        <div id="main-card" class="card-panel z-depth-5">

          {{> accountinfo}}

            <!--Table-->
            <section>
                <div class="row">
                    <div class="col l12 m12 s12">
                        <div class="card-panel center z-depth-5">
                            <span class="table">
                                <table class="centered highlight responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Share</th>
                                            <th>Gain/Loss</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	{{#each watchlist}}
                                    		<tr class="" data-symbol="{{this.symbol}}">
                                    			<td>
                                    				<span class="stock-symbol>{{this.symbol}}</span><br>
                                    				<span class="company-name">{{this.name}}</span>
                                    			</td>
                                    			<td>
                                    				<span class="share">{{this.price}}</span>
                                    			</td>
                                    			<td>
                                    				<span class="big-number {{#if gain}}gain{{else}}loss{{/if}}">
                                    					{{#if gain}}+ {{/if}}{{this.percentChange}}
                                    				</span><br>
                                    				<span class="small-number {{#if gain}}gain{{else}}loss{{/if}}">
                                    					{{#if gain}}+ {{/if}}{{this.change}}
                                    				</span>
                                    			</td>
                                    			<td>
                                    				<a href="/stock/buy/{{this.symbol}}" class="btn-small green accent-4 buy-button">
                                    					BUY
                                    				</a>
                                    				<span class="btn-small red accent-4 wl-remove" data-symbol="{{this.symbol}}">
                                    					Remove From Watchlist
                                    				</span>
                                    			</td>
                                    		</tr>
                                    	{{/each}}
                                    </tbody>
                                </table>
                            </span>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </main>

    {{> footer}}